.container {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.back-button {
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

th.mat-header-cell,
td.mat-cell {
    padding: 10px;
    text-align: left;
}

td.mat-cell button {
    margin-right: 5px;
}

table {
    border-radius: 20px;
}
img.photo {
    display: inline-block;
    object-fit: cover;
    border-radius: 5px;
  }
  